<html>
	<head>
		<title><%= title =%></title>
		<link rel="stylesheet" href="/main.css"/>
	</head>
	<body>
		<h1><%= title =%></h1>

		<form action="/cgi-bin/updateIndexItem.py" method="POST">
			<div class="cache"><input type="text" name="index" value="<%= index =%>"/></div>
			<p>Nom :<input type="text" name="name" value="<%= name =%>"/></p>
			<p>Lien :<input type="text" name="link" value="<%= link =%>"/></p>
			<input type="submit" value="Ok"/>
		</form>

		<a href="/">retour</a>
	</body>	
</html>